<div class="principal-c">
  <div class="container texto">
    <h1>SITIO EN CONSTRUCCIÒN</h1>
    <h2>MUY PRONTO</h2>
  </div>

  <div class="azul">
    <p>Estamos trabajando duro para lanzarla pronto.</p>
    <h3>Siguenos para estar enterado</h3>
    <div class="redes-sociales fa-2x">
      <a href="https://www.facebook.com/econtainerscolombia/">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/EContainersCol">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/econtainers/">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCc9_pDkvmipTo5aXavS9inQ">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a href="">Volver</a>

</div>
