.texto{
  padding: 150px;
}

.azul{
  background: #06203c;
  height: 200px;
}

.azul p {
  color: white;
text-align: center;
padding-top: 60px;
font-size: 1em;
}
h3{
  color: #3e9fe6;
  text-align: center;
}

.redes-sociales i{
  text-align: center;
  color: white!important;
}
.redes-sociales{
  text-align: center;
}

.principal-c{
  background-image: url("/assets/imgs/fondo.png")
}

a{


}
