<div class="container-fluid">
  <div class="owl-carousel asd-2 owl-theme owl-loaded">
    <div class="item testimonio-1">
      <div class="cuadrado">
        <div class="container">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti provident, repellendus quisquam eos sit et error nisi consequuntur sapiente, ad</span>
          <i class="fas fa-quote-left"></i>
        </div>
        <hr>
        <span class="empresa">RENAULT</span>
        <span class="nombre"> Manager Renault </span>
      </div>
    </div>
    <div class="item testimonio-2">
      <div class="cuadrado">
        <div class="container">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti provident, repellendus quisquam eos sit et error nisi consequuntur sapiente, ad</span>
          <div class="coma">
            <i class="fas fa-quote-left"></i>
          </div>
          <hr>
          <span class="empresa">CROMANTIC</span>
          <span class="nombre"> Juan Martinez</span>
        </div>
      </div>
    </div>
    <div class="item testimonio-3">
      <div class="cuadrado">
        <div class="container">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti provident, repellendus quisquam eos sit et error nisi consequuntur sapiente, ad</span>
          <i class="fas fa-quote-left"></i>
        </div>
        <hr>
        <span class="empresa">UNIVERSIDAD JAVERIANA</span>
        <span class="nombre"> Pepe Perez</span>
      </div>
    </div>


  </div>

</div>
