<div id="4" class="container-fluid section-11">
  <div class="container">

    <div class="row container text-center datos">

      <div class="col-lg-4 text-white ">
        <img class="logo-s11" src="/assets/imgs/contact-1.png">
        <div class="datos-11">
          <h3 class="h3-s11">TELEFONOS</h3>
          <p class=" p-s7"> Bogotá (1) 7462065<br> Cali (2) 4850401<br>Medellín (4) 6049441<br> Cartagena (5) 6939833 <br> Manizales (6) 8918650
          </p>
        </div>
      </div>
      <div class="col-lg-4 text-white">
        <img class="logo-s11" src="/assets/imgs/contact-2.png">
        <div class="datos-11">
          <h3 class="h3-s11">EMAIL</h3>
          <p class=" p-s7"> info@econtainerscolombia.com </p>
        </div>
      </div>
      <div class="col-lg-4 text-white">
        <img class="logo-s11" src="/assets/imgs/contact-3.png">
        <div class="datos-11">
          <h3 class="h3-s11">DIRECCION</h3>
          <p class="p-s7">Calle 114A #47A-21,Bogotá D.C <br>Km. 3 Via Mamonal, Cartagena <br>Cra 34 #7 - 90, Medellín <br>Cra 23 #13 - 250, Cali <br>Calle 21 # 21-43, Manizales
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
