<div class="slider__warpper">

  <div class="flex__container flex--pikachu flex--active" data-slide="1">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <h1 class="text--big">LOREM IPSUM</h1>
        <h2 class="text--normal">ES SIMPLEMENTE EL TEXTO</h2>
        <button>SABER MÁS</button>
        <button class="button-comprar">COMPRAR</button>
      </div>
      <p class="text__background">LOREM IPSUM</p>
     <section id="section05" class="demo">
        <a href="#2"><span></span>SCROLL</a>
      </section>

      
     
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="assets/imgs/contenedor-azul.png" />
  </div>

  <div class="flex__container flex--piplup animate--start" data-slide="2">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen IV</p>
        <h1 class="text--big">LOREM IPSUM</h1>
        <h2 class="text--normal">ES SIMPLEMENTE EL TEXTO</h2>
        <button>SABER MÁS</button>
        <button class="button-comprar">COMPRAR</button>
      </div>
      <p class="text__background">LOREM IPSUM</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="assets/imgs/contenedor-azul.png" />
  </div>

  <div class="flex__container flex--blaziken animate--start" data-slide="3">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen IV</p>
        <h1 class="text--big">LOREM IPSUM</h1>
        <h2 class="text--normal">ES SIMPLEMENTE EL TEXTO</h2>
        <button>SABER MÁS</button>
        <button class="button-comprar">COMPRAR</button>
      </div>
      <p class="text__background">LOREM IPSUM</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="assets/imgs/contenedor-azul.png" />
  </div>

  <div class="flex__container flex--dialga animate--start" data-slide="4">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen IV</p>
        <h1 class="text--big">LOREM IPSUM</h1>
        <h2 class="text--normal">ES SIMPLEMENTE EL TEXTO</h2>
        <button>SABER MÁS</button>
        <button class="button-comprar">COMPRAR</button>
      </div>
      <p class="text__background">LOREM IPSUM</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="assets/imgs/contenedor-azul.png" />
  </div>

  <div class="flex__container flex--zekrom animate--start" data-slide="5">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Pokemon Gen V</p>
        <h1 class="text--big">Zekrom</h1>
        <p class="text--normal">Zekrom is a Dragon/Electric-type Legendary Pokémon. It is part of the Tao Trio, along with Reshiram and Kyurem. Zekrom
          is a large, black draconian Pokémon that seems to share its theme with its counterpart, Reshiram. It has piercing
          red eyes and dark gray to black skin that seems to be armor-like.</p>
      </div>
      <p class="text__background">Zekrom</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="pokemon__img" src="https://s4.postimg.org/malmhgn9p/zekrom.png" />
  </div>
</div>

<div class="slider__navi">
  <a href="#" class="slide-nav active" data-slide="1">.1</a>
  <a href="#" class="slide-nav" data-slide="2">.2</a>
  <a href="#" class="slide-nav" data-slide="3">.3</a>
  <a href="#" class="slide-nav" data-slide="4">.4</a>
  <a href="#" class="slide-nav" data-slide="5">.5</a>
</div>

<!-- seccion 2 -->

<div class="container-fluid section-2" id="2">
  <div class="container margin-top-70 ">
    <h2 class="text-center">
      Lorem ipsum dolor sit amet<br> es simplemente texto
    </h2>
    <p class="parrafo-seccion-2 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas unde nihil, odio perspiciatis! Libero molestiae molestias,
      sit odit saepe expn accusamus sapiente minima quidem nostrum. hjbafskhjbfakjhvfashjv Doloribus recusandae similique ipsum  Doloribus recusandae similique ipsum possimus eveniet.</p>

    <div class="row cuadros">

      <div class="col-md-4 text-center ">
        <div class="cuadros-container azul-1">
          <img class="logo-1" src="assets/imgs/image-1.png" alt="">
          <h3 class="text-white">Fast ejemplo texto</h3>
          <p class="text-white"> sequi provident at nam, repudiandae quaerat
            velit ullama eveniet provident totam temporibus, id repellendus.</p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div class="cuadros-container blanco">
          <img class="logo-1" src="assets/imgs/image-1.png" alt="">
          <h3 class="text-black">Fast ejemplo texto</h3>
          <p class="text-muted"> sequi provident at nam, repudiandae quaerat
            velit ullama eveniet provident totam temporibus, id repellendus.</p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div class="cuadros-container blanco">
          <img class="logo-1" src="assets/imgs/image-1.png" alt="">
          <h3 class="text-black">Fast ejemplo texto</h3>
          <p class="text-muted"> sequi provident at nam, repudiandae quaerat
            velit ullama eveniet provident totam temporibus, id repellendus.</p>
        </div>
      </div>
    </div>
  </div>
</div>