<div class="container">


    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        1 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <div class="card">
          <h3 class="card-header">Portal de clientes</h3>
          <div class="card-block">
            <p class="card-text">Este sitio Web es para los clientes corporativos y empresariales</p>
            <button (click)="login()" type="button" class="btmn btn-outline-primary">Login</button>
          </div>
        </div>

      </div>
      <div class="col">
      </div>
    </div>





</div>
