
  <div class="slider__warpper hidden-sm-down" id="este">
    <div class="flex__container flex--pikachu flex--active" data-slide="1">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h1 class="text--big wow lightSpeedIn">UN CONTENEDOR QUE SE TRANSFORMA</h1>
          <h2 class="text--normal wow slideInRight">Para mover <br>Un país</h2>
          <a href="construccion">
            <button>ALQUILER</button>
          </a>
          <a href="construccion">
            <button class="button-comprar">COMPRA</button>
          </a>
          <a href="construccion">
            <button class="button-comprar">BLOG</button>
          </a>
        </div>
        <p class="text__background">ECO AMIGABLE</p>
        <section id="section05" class="demo">
          <a href="#2">
            <span>

          </span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/contenedor-azul.png" />
    </div>

    <div class="flex__container flex--piplup animate--start" data-slide="2">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h1 class="text--big">SOLUCIÓN RÁPIDA Y PORTABLE</h1>
          <h2 class="text--normal wow shake">  PARA CONSERVAR SUS PRODUCTOS.</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com"><button class="button-comprar">BLOG</button></a>
        </div>
        <p class="text__background">REFRIGERADOS</p>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/conte-refi (1).png" />
    </div>

    <div class="flex__container flex--blaziken animate--start" data-slide="3">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <p class="text--sub"></p>
          <h1 class="text--big"> ALMACENAMIENTO DE CARGA,</h1>
          <h2 class="text--normal"> MERCANCÍAS, HERRAMIENTAS.</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com"><button class="button-comprar">BLOG</button></a>
        </div>
        <p class="text__background">BODEGAS</p>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/contenedor-seco.png" />
    </div>

    <div class="flex__container flex--dialga animate--start" data-slide="4">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h1 class="text--big">VITRINA EQUIPADA </h1>
          <h2 class="text--normal">PARA LA EXHIBICIÓN DE SU PROYECTO</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com"><button class="button-comprar">BLOG</button></a>
        </div>
        <p [ngStyle]="{'font-size': '70px'}" class="text__background">SALAS DE VENTA</p>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img tamaño_3" src="assets/imgs/contenedor-4.png" />
    </div>
    <div class="flex__container flex--dialga animate--start" data-slide="5">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h1 class="text--big">Espacios diseñados </h1>
          <h2 class="text--normal">Para brindar comodidad a sus colaboradores.</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com"><button class="button-comprar">BLOG</button></a>
        </div>
        <p  class="text__background">OFICINA</p>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img tamaño_3" src="assets/imgs/contenedor5.png" />
    </div>

    <div class="flex__container flex--dialga animate--start" data-slide="6">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h1 class="text--big">VITRINA EQUIPADA </h1>
          <h2 class="text--normal">PARA LA EXHIBICIÓN DE SU PROYECTO</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com"><button class="button-comprar">BLOG</button></a>
        </div>
        <p [ngStyle]="{'font-size': '70px'}" class="text__background">SALAS DE VENTA</p>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img tamaño_3" src="assets/imgs/contenedor5.png" />
    </div>
  </div>
  <!-- movil -->
  <div class="slider__warpper hidden-md-up" id="este">
    <div class="flex__container flex--pikachu_movil flex--active" data-slide="1">
      <div class="flex__item flex__item--left_movil">
        <div class="flex__content_movil">
          <h1 class="text--big_movil wow lightSpeedIn">UN CONTENEDOR QUE SE TRANSFORMA</h1>
          <h2 class="text--normal_movil wow slideInRight">PARA MOVER <br>UN PAÍS</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com"><button class="button-comprar">BLOG</button></a>
        </div>
        <p class="text__background-movil">LOREM IPSUM</p>
        <section id="section05" class="demo hidden-sm-down">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>

      <img class="pokemon__img_movil" src="assets/imgs/contenedor-azul.png" />
    </div>

    <div class="flex__container flex--piplup_movil animate--start" data-slide="2">
      <div class="flex__item flex__item--left_movil">
        <div class="flex__content_movil">
          <h1 class="text--big_movil">LOREM IPSUM</h1>
          <h2 class="text--normal_movil wow slideInRight">SOLUCIÓN RÁPIDA Y PORTABLE PARA CONSERVAR SUS PRODUCTOS.</h2>
          <button class="boton-1-movil">SABER MÁS</button>
          <button class="button-comprar_movil">COMPRAR</button>
        </div>
        <p class="text__background-movil">LOREM IPSUM</p>
        <section id="section05" class="demo hidden-sm-down">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <img class="pokemon__img_movil" src="assets/imgs/conte-refi (1).png" />
    </div>

    <div class="flex__container flex--blaziken_movil" data-slide="3">
      <div class="flex__item flex__item--left_movil">
        <div class="flex__content_movil">
          <h1 class="text--big_movil">LOREM IPSUM</h1>
          <h2 class="text--normal_movil wow slideInRight">ES SIMPLEMENTE EL TEXTO</h2>
          <button class="boton-1-movil">SABER MÀS</button>
          <button class="button-comprar_movil">COMPRAR</button>
        </div>
        <p class="text__background-movil">LOREM IPSUM</p>
        <section id="section05" class="demo hidden-sm-down">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <img class="pokemon__img_movil" src="assets/imgs/contenedor-seco.png" />
    </div>

    <div class="flex__container flex--dialga_movil" data-slide="4">
      <div class="flex__item flex__item--left_movil">
        <div class="flex__content_movil">
          <h1 class="text--big_movil">LOREM IPSUM</h1>
          <h2 class="text--normal_movil wow slideInRight">ES SIMPLEMENTE EL TEXTO</h2>
          <button class="boton-1-movil">SABER MÀS</button>
          <button class="button-comprar_movil">COMPRAR</button>
        </div>
        <p class="text__background-movil">LOREM IPSUM</p>
        <section id="section05" class="demo hidden-sm-down">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <img class="pokemon__img_movil" src="assets/imgs/contenedor-4.png" />
    </div>
  </div>

  <div class="slider__navi  hidden-sm-down">
    <a class="slide-nav active" data-slide="1">.01</a>
    <a class="slide-nav" data-slide="2">.02</a>
    <a class="slide-nav" data-slide="3">.03</a>
    <a class="slide-nav" data-slide="4">.04</a>
    <a class="slide-nav" data-slide="5">.05</a>
    <a class="slide-nav" data-slide="6">.06</a>
  </div>
  <div class="  hidden-sm-down super">
    <img src="/assets/imgs/ISO9001.png" alt="">
    <img src="/assets/imgs/ISO14001.png" alt="">

  </div>
  <!-- movil -->
  <div class="slider__navi_movil hidden-md-up">
    <a  class="slide-nav active" data-slide="1">.01</a>
    <a class="slide-nav" data-slide="2">.02</a>
    <a class="slide-nav" data-slide="3">.03</a>
    <a  class="slide-nav" data-slide="4">.04</a>
  </div>
