
<footer>
<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1402 301.19"><defs><style>.cls-1{fill:#fff;stroke:#000;}.cls-1,.cls-2{stroke-miterlimit:10;}.cls-2{fill:#2bbffa;stroke:#2bbffa;}</style></defs><title>curva</title><path class="cls-1" d="M-.5,284.5" transform="translate(1.5 0.19)"/><path class="cls-1" d="M-.5,72.5" transform="translate(1.5 0.19)"/><path class="cls-2" d="M0,.5c708,223,1400,0,1400,0v300H-1Z" transform="translate(1.5 0.19)"/>
</svg>
</footer>
