.section-2{
   position: relative;
   top: 640px;
    z-index: 5;
    background: url("/assets/imgs/seccion-2.png");
}

.col-md-4{
}

.azul-1{
    background: #0197f8;
}

.blanco{
    background: white;
}

.cuadros-container{
        padding: 35px 10px;
        margin: 35px 0;
        border: 1px solid #efefef;


}

.margin-top-70{
    margin-top:70px;

}

.parrafo-seccion-2{
    margin-top: 30px;
}

.cuadros{
    margin-top:145px;
}

.cuadros .col-md-4{
}

.logo-1{
    width: 30%;
}

.borde-gris{
}
