<div class="container-fluid section-2" id="2">
  <div class="container margin-top-70 ">
    <h2 class="text-center">
      Lorem ipsum dolor sit amet<br> es simplemente texto
    </h2>
    <p class="parrafo-seccion-2 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas unde nihil, odio perspiciatis! Libero molestiae molestias,
      sit odit saepe expn accusamus sapiente minima quidem nostrum. hjbafskhjbfakjhvfashjv Doloribus recusandae similique ipsum  Doloribus recusandae similique ipsum possimus eveniet.</p>

    <div class="row cuadros">

      <div class="col-md-4 text-center ">
        <div class="cuadros-container azul-1">
          <img class="logo-1" src="assets/imgs/image-1.png" alt="">
          <h3 class="text-white">Fast ejemplo texto</h3>
          <p class="text-white"> sequi provident at nam, repudiandae quaerat
            velit ullama eveniet provident totam temporibus, id repellendus.</p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div class="cuadros-container blanco">
          <img class="logo-1" src="assets/imgs/image-1.png" alt="">
          <h3 class="text-black">Fast ejemplo texto</h3>
          <p class="text-muted"> sequi provident at nam, repudiandae quaerat
            velit ullama eveniet provident totam temporibus, id repellendus.</p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div class="cuadros-container blanco">
          <img class="logo-1" src="assets/imgs/image-1.png" alt="">
          <h3 class="text-black">Fast ejemplo texto</h3>
          <p class="text-muted"> sequi provident at nam, repudiandae quaerat
            velit ullama eveniet provident totam temporibus, id repellendus.</p>
        </div>
      </div>
    </div>
  </div>
</div>