.section-7 {
  z-index: 5;
  background: #1677dd;
}

/*seccion 7 */

.circulo {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: white;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  color: #1678e1;
}

  #circulo {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
  background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

}

svg{
  color: #1576dd;
}

.logo-s7 {
  padding: 30px;
  margin-bottom: 20px;
}

.h2-s7 {
  margin-bottom: 50px;
  font-size: 1.5em;
}

.h3-s7 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.p-s7 {
  font-size: .8em;
}

.section-7 .container {
  padding-bottom: 20px;
}
.margin-top-50 {
      padding-top: 90px;
}
