<!-- seccion 7  -->
<div id="4" class="container-fluid section-7">
  <div class="container margin-top-50 ">
    <h2 class=" h2-s7 text-center wow zoomIn text-white">
        COMPROMISO EMPRESARIAL
    </h2>
    <div class="row container text-center">
      <div class="col-lg-3 text-white">
        <div id="circulo">
          <i class="fas fa-briefcase fa-3x"></i>
        </div>

        <h3 class="h3-s7">SOLUCIONES MÓVILES</h3>
        <p class=" p-s7">Desarrollamos un modelo de negocio centrado en resolver necesidades para todo tipo de industria a nivel nacional.</p>
      </div>
      <div class="col-lg-3 text-white">
        <div id="circulo">
          <i class="fas fa-tasks fa-3x"></i>
        </div>
        <h3 class="h3-s7">CALIDAD GARANTIZADA</h3>
        <p class=" p-s7">Nuestras certificaciones ISO 9001 e ISO 14001 garantizan la calidad de nuestros productos.</p>
      </div>
      <div class="col-lg-3 text-white">
        <div id="circulo">
          <i class="fas fa-leaf fa-3x"></i>
        </div>


        <h3 class="h3-s7">ECO-AMIGABLE</h3>
        <p class=" p-s7">Estamos comprometidos con crear un mejor futuro a partir de la construcción de soluciones móviles.</p>
      </div>
      <div class="col-lg-3 text-white">
        <div id="circulo">
          <i class="fas fa-chart-line fa-3x"></i>
        </div>
        <h3 class="h3-s7">MEJORA CONTINUA</h3>
        <p class="p-s7">Evolucionamos constantemente para ser una compañía financieramente sólida, con presencia en las principales ciudades del país.</p>
      </div>
    </div>
  </div>
</div>
