/*footer*/
.footer {
  position: relative;
  top: 680px;
  z-index: 5;
  height: 30vh;
}

@media (min-width: 1200px) {
  .containerf {
    padding-left: 220px;
    padding-right: 220px;
  }
}

span {
  font-size: .7em;
}

.padding-40 {
  padding-top: 40px!important;
}

.margin-0{
  margin:0!important;

}

i {}

.redes-footer {
  display: flex;
  justify-content: space-around;
  max-width: 100%!important;

}

.sgs{
  display: flex;
  justify-content: space-between;

}
