<div class="contenedor">
  <!-- Seccion principal -->
  <div class="container-fluid img-principal hidden-sm-down">
    <img class="barco hidden-sm-down" src="/assets/imgs/barco.png" alt="">
    <div class="texto-principal">
      <h2 class="texto-1">NOSOTROS </h2>
      <h2 class="texto-2 hidden-sm-down">Adaptamos espacios que transforman vidas.</h2>
    </div>
  </div>
  <!-- seccion 2  -->

  <div class="container-fluid section-6">
    <div class="row">
      <div class="col-sm-6 imagen-1 container wow fadeIn">
        <h3 class="nosotros">MISIÓN</h3>
        <h4>TRANSFORMAMOS CONTENEDORES PARA MOVER EL DESARROLLO DE NUESTRO PAÍS</h4>
        <p>Somos una empresa especializada en soluciones móviles con
            pensamiento estratégico y diferenciador. Desarrollamos
            espacios innovadores en diseño y confort a partir de
            arquitectura sustentable y renovable, que se adaptan a todo
            tipo de industrias. Estamos en la búsqueda constante de
            construir un mejor futuro para el mundo, minimizando los
            impactos ambientales globales.</p>
      </div>
      <div class="col-sm-6 imagen-2 wow fadeInRight" data-ride="carousel">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 imagen-3 wow fadeInLeft">
      </div>
      <div class="col-sm-6 imagen-4 wow fadeIn">
          <h3 class="nosotros">VISIÓN</h3>
        <p>Construimos soluciones móviles para crear un mejor
          futuro.
        </p>
        <h3 class="nosotros">VALORES</h3>
          <ul>
            <li>Vivir la diversidad</li>
            <li>Actuar con integridad</li>
            <li>Ser sostenibles</li>
            <li>Desarrollar el liderazgo</li>
            <li>Enfocarse en el cliente y sus necesidades</li>
            <li>Garantizar la excelencia</li>
            <li>Brindar seguridad y confianza</li>
          </ul>
      </div>
    </div>
  </div>
<app-planeacion></app-planeacion>



  <!-- seccion 3 -->

  <div class="container-fluid img-seccion3">
    <img class="carga wow fadeInRight" src="/assets/imgs/carga.png" alt="">
    <div class="container">
      <p class="col-7 wow fadeIn">
        Llevamos más de 10 años en el mercado en los que nos hemos dedicado a la venta, alquiler y adecuación de contenedores marítimos. Estamos en la búsqueda constante de construir un mejor futuro para el mundo minimizando los impactos ambientales globales.
      </p>
    </div>
  </div>




</div>
