

<nav class="nav navbar-light bg-faded">
  <div class="container nav-principal">
    <a class="menu " (click)='menu()' id="burguerButton">
      <i class="fa fa-bars fa-3x burguer-button"  aria-hidden="true" id="burguer-btn"  ></i>
    </a>

    <a class="navbar-brand" (click)='eventoMenu1()' [routerLink]="['/home']">
      <img class="logo" src="assets/imgs/logo.png" alt="">
    </a>

  </div>
</nav>

<div class="menu-principal-movil container hidden-md-up" id="menu-m">
  <div class="row menu-1-s9">
    <div class="col-12">
      <ul>
        <li><a (click)='eventoMenu()' [routerLink]="['quienes-somos']">Nosotros</a></li>
        <li><a href="https://blog.econtainerscolombia.com">Blog</a></li>
        <li><a (click)='eventoMenu()' [routerLink]="['trabaja']">Trabaja con nosotros</a></li>
        <li><a>Intranet</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="menu-principal-1-movil container" id="menu-1">
  <div class="row menu-1-s9">
    <div class="col-6">
      <ul>
        <li><a (click)='eventoMenu()' [routerLink]="['quienes-somos']">Quienes Somos</a></li>
        <li><a href="https://blog.econtainerscolombia.com">Blog</a></li>
        <li></li>

      </ul>

    </div>
    <div class="col-6">
      <ul>
        <li><a (click)='eventoMenu()' [routerLink]="['trabaja']">Trabaja con nosotros</a></li>
        <li><a>Intranet</a></li>
        <li></li>
      </ul>

    </div>

  </div>

</div>
