<nav class="nav navbar-light bg-faded">
  <div class="container">
    <a class="menu" href="#">
      MENÚ
      <img class="burguer-menu" src="assets/imgs/burguer-menu.png" alt="">
    </a>

    <a class="navbar-brand" href="#">
      <img class="logo" src="assets/imgs/logo.png" alt="">
  </a>


    <div class="idioma">
      <a href="#" class="idioma-a">Contacto</a>
      <a href="#" class="idioma-b">Ingles</a>
      <a href="">
     <img src="assets/imgs/lupa.png" alt="">
    </a>

    </div>

  </div>





</nav>