            @font-face {
                font-family: biko-black;
                src: url('assets/fonts/biko/Biko_Black.otf');
            }
            @font-face {
                font-family: biko-bold;
                src: url('assets/fonts/biko/Biko_Bold.otf');
            }
            @font-face {
                font-family: biko-light;
                src: url('assets/fonts/biko/Biko_Light-Restricted.otf');
            }
            @font-face {
                font-family: biko-regular;
                src: url('assets/fonts/biko/Biko_Regular.otf');
            }


h1, button{
     font-family: biko-black;	
   
}

h2{
    font-family: biko-regular;
}

.text__background {
    font-family: biko-black;	
    position: absolute;
	left: 72px;
	bottom: -55px;
	color: #00cdfb;
	font-size: 80px;
	font-weight: 700;
}

