<!-- portafolio -->


<div id="portafolio" class="container section-4 hidden-sm-down">
  <div class="container">
    <div class="row">

      <div class="portafolio-texto push-3 col-3">
        <h3>Portafolio</h3>
      </div>
      <div class="push-3 col-6">
        <img class="logoe-2" src="assets/imgs/logo-2.png" alt="">
      </div>


    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="menu-carrousel col-3">

        <div class="carrousel">
          <ul>
            <li (click)="tipo = null">Todos</li>
            <li (click)="tipo = 'sala de venta'">Salas de ventas</li>
            <li (click)="tipo = 'oficina'">Oficinas</li>
            <li (click)="tipo = 'refrigerado'">Refrigerado</li>
            <li (click)="tipo = 'bodega'">Bodegas</li>
            <li (click)="tipo = 'arquitectonico'">Proy. Arquitectónicos</li>
          </ul>
        </div>
      </div>
      <div class="card-columns col-9">
        <div (click)="verContenedor(i)" class="colorear card" *ngFor="let contenedor of contenedores; let i = index">
          <img *ngIf="contenedor.tipo== tipo || tipo == null " class="card-img-top img-fluid wow zoomIn" src="{{contenedor.img}}" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
</div>
