<!-- seccion 2 -->

<!-- <div id="2" class="container-fluid section-2">

  <div class="container margin-top-70 ">
    <h2 class="text-center wow zoomIn">
      NUESTRA TRAYECTORIA
    </h2>
    <p class="parrafo-seccion-2 text-center wow zoomIn">
      Llevamos más de 10 años en el mercado, dedicados a la venta, alquiler y adecuación de contenedores marítimos, a nivel<br> nacional. Contamos con certificación ISO 9001 e ISO 14001.
    </p>

    <div class="row cuadros">

      <div class="col-md-4 text-center">
        <div (mouseover)='logo1()' (mouseout)='logo1R()' class="cuadros-container blanco  wow bounceInUp">
          <img class="logo-1" src="assets/imgs/imagen-1-azul.png" alt="">
          <h3 class="text-black subtitulo">Soluciones</h3>
          <p id="texto-1" class="texto-seccion-1 text-muted"> E-Containers Colombia brinda soluciones móviles que se adaptan a todo <br> tipo de industria.</p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div (mouseover)='logo2()' (mouseout)='logo2R()' class="cuadros-container blanco  wow bounceInUp">
          <img class="logo-2" src="assets/imgs/imagen-2-azul.png" alt="">
          <h3 class="text-black subtitulo">Asesoria Personalizada</h3>
          <p id="texto-2" class="texto-seccion-1 text-muted"> Asesoría personalizada en diseño y arquitectura, con instalación fácil y rápida y la disponibilidad inmediata para productos estándar,<br> en venta y alquiler.</p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div (mouseover)='logo3()' (mouseout)='logo3R()' class="cuadros-container blanco wow bounceInUp">
          <img class="logo-3" src="assets/imgs/imagen-3-azul.png" alt="">
          <h3 class="text-black subtitulo">Aliado Estratégico</h3>
          <p id="texto-3" class="texto-seccion-1 text-muted"> Tu aliado estratégico para alquiler, compra <br> y adecuación de contenedores marítimos<br> de acero nuevos y usados</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="container principal">
    <div class="row">
      <div class="col-md-6">
        <h3>NUESTRA TRAYECTORIA</h3>
        <p>Llevamos más de 10 años en el mercado, dedicados a la venta, alquiler y <br>adecuación de contenedores marítimos, a nivel nacional. Contamos con<br> certificación ISO 9001 e ISO 14001.</p>
      </div>
      <div class="col-md-6">
        <a class="isla-morada" href="https://player.vimeo.com/video/234784754?byline=0&portrait=0" data-fancybox data-caption="Proyecto Isla morada">
          <img  class="vimeo" src="assets/imgs/vimeo-image.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
