<div class="container-fluid section-slide hidden-sm-down">
  <div class="slider__warpper2">
    <div class="flex__container2 flex--pikachu2 animate--start2" data-slide="3">
      <div class="flex__item flex__item--left">
        <div class="flex__content2">
          <h1 class="text--big2 wow lightSpeedIn">LINEAS<br> DE NEGOCIO</h1>
          <h2 class="text--normal2 wow slideInRight">Contenedores Refrigerados</h2>
          <p>Un contenedor reefer es una unidad de refrigeración diseñada especialmente para almacenamiento y transporte de productos refrigerados y congelados a cualquier nivel de temperatura. Los contenedores reefer ayudan a mantener los productos perecederos
            a una temperatura controlada, asegurando que se mantengan en óptimas condiciones y preservando su presentación original con frescura y calidad, brindando una solución rapida, efectiva y económica a la refrigeración.

          </p>
          <!-- <button>MÁS INFORMACIÓN</button> -->
        </div>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/container-refer.png" />
    </div>

    <div class="flex__container2 flex--piplup2 animate--start2" data-slide="2">
      <div class="flex__item flex__item--left">
        <div class="flex__content2">
          <h1 class="text--big2 wow lightSpeedIn">LINEAS<br> DE NEGOCIO</h1>
          <h2 class="text--normal2 wow slideInRight">Contenedores Secos</h2>
          <p>Somos proveedores directos de contenedores marítimos nuevos y usados como herramientas de transporte, almacenaje y carga eficiente para todo tipo de industrias.
          </p>
          <!-- <button>MÁS INFORMACIÓN</button> -->
        </div>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/contenedor-seco.png" />
    </div>

    <div class="flex__container2 flex--blaziken2 flex--active2" data-slide="1">
      <div class="flex__item flex__item--left">
        <div class="flex__content2">
          <h1 class="text--big2 wow lightSpeedIn">LINEAS<br> DE NEGOCIO</h1>
          <h2 class="text--normal2 wow slideInRight">Proyectos Especiales o Arquitectonicos</h2>
          <p>Fabricamos módulos a partir de contenedores maritimos reciclados, siendo adaptados exclusivamente con el fin de atender necesidades especiales de nuestros clientes.
          </p>
          <!-- <button>MÁS INFORMACIÓN</button> -->
        </div>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img imagen_4" src="assets/imgs/contenedor-7.png" />
    </div>


  </div>

  <div class="slider__navi2">
    <a  class="slide-nav2 active" data-slide="1">.01</a>
    <a  class="slide-nav2" data-slide="2">.02</a>
    <a  class="slide-nav2" data-slide="3">.03</a>
  </div>
</div>
