<footer class=" footer  ">
  <div class="row text-center padding-40 margin-0 containerf">
    <div class="col-3 menu-1">
      <span><a [routerLink]="['mapa']">Mapa del sitio</a></span>
      <span><a [routerLink]="['quienes-somos']">Nosotros</a></span>
      <span><a [routerLink]="['contacto']">Contactanos</a></span>
      <span><a [routerLink]="['trabaja']">Trabaja con nosotros</a></span>
      <span><a [routerLink]="['compromiso-empresarial']">Compromiso empresarial</a></span>
      <span><a href="https://blog.econtainerscolombia.com">Blog</a></span>
    </div>

    <div class="col-3 menu-1">
      <span><a [routerLink]="['pqrs']">PQRS</a></span>
      <span><a [routerLink]="['portafolio-page']">Portafolio</a></span>
      <span>Intranet</span>
      <span><a href="https://econtainerscolombia.com/terminos.pdf">Politicas de Seguridad y privacidad</a></span>
      <span><a [routerLink]="['clientes']">Ingreso Clientes</a></span>

    </div>
    <div class="col-2 hidden-md-down menu-2">
      <span><b>Siguenos en:</b></span>
      <a href="https://www.facebook.com/econtainerscolombia/">
        <i class="fa fa-facebook" aria-hidden="true"></i><span> Facebook</span>
      </a>
      <a href="https://twitter.com/EContainersCol">
        <i class="fa fa-twitter" aria-hidden="true"></i><span> Twitter</span>
      </a>
      <a href="https://www.youtube.com/channel/UCc9_pDkvmipTo5aXavS9inQ">
        <i class="fa fa-youtube-play" aria-hidden="true"> </i><span> Youtube</span>
      </a>
      <a href="https://www.instagram.com/econtainers/">
        <i class="fa fa-instagram" aria-hidden="true"> </i><span> Instagram</span>
      </a>

    </div>
    <div class="col-4 redes-sgs">
      <div class="sgs row">
        <img src="/assets/imgs/ISO9001.png" alt="">
        <img src="/assets/imgs/ISO14001.png" alt="">


      </div>
    </div>


  </div>
<div class="">
  <div class="row super containerf footer-2">
    <img  class="img-fluid" src="/assets/imgs/logos/superintendencia.png" alt="">
    <img class="super2 img-fluid" src="/assets/imgs/logos/supertransporte.png" alt="">
    <img class="super2 img-fluid" src="/assets/imgs/SAP.png" alt="">
    <img class="super2 img-fluid" src="/assets/imgs/achilles.png" alt="">
    <img class="super2 img-fluid" src="/assets/imgs/RUP.png" alt="">
    <img class="super2 img-fluid" src="/assets/imgs/coface.png" alt="">
  </div>
</div>
</footer>
